In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('dashboard/assets/cgm48members.csv')

In [5]:
df

,#,Name,Nickname,Age,Facebook,Instagram,Twitter Volume,Favorites,Retweets,Engagement Rate,Sentiment
0,<image>,Napassanan Thambuacha,Angel,24,Angel CGM48,@angel.cgm48official,-,-,-,-,-
1,<image>,Punyawee Jungcharoen,Aom,24,Aom BNK48,@aom.cgm48,-,-,-,-,-